// Помощники
@import 'utils/parameters';// переменные
@import 'utils/mixins';//миксины scss

//Общее
@import 'main/stylesheet';// шрифты
@import 'main/reset'; // сброс стилей для кроссбраузерности
@import 'main/common'; // общие стили

// дальше можно писать все стили сайта в этот файл, или писать их в компонентах

.container{
   max-width: 1170px;
   padding: 0;
   margin: 0 auto;
   position: relative;
  
   
}

@import 'components/header';
@import 'components/first section';
@import 'components/second section';
@import 'components/third section';
@import 'components/fourth section';
@import 'components/fifth section';
@import 'components/sixth section';
@import 'components/seventh section';
@import 'components/footer';