@import 'utils/parameters';// переменные
@import 'utils/mixins';//миксины scss


.holidays-imgs{
   display: flex;
   flex-wrap: wrap;
   margin-top: 24.4rem;
   justify-content: space-between;


}

.holidays-img{
   z-index: 1;
   position: absolute;
   border-radius: 10px;
   


}


.holidays-secondary{
   position: absolute;
   top: -5rem;
   left: 22rem;
}



.img-ripples{
   position: absolute;
   left: -6rem;
   bottom: -18rem;
}


.holidays-container{
   margin-top:3rem;
}


.text-holidays{
   font-family:$body-font;
   font-style: normal;
   font-weight: 500;
   font-size: 2rem;
   line-height: 150%;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: $c-text2;
   margin-bottom: 1.5rem;
   }

.holidays-title{
   font-family: $headers-font;
   font-style: normal;
   font-weight: 500;
   font-size: 3.2rem;
   line-height: 140%;
   color: $c-text;
   max-width: 43rem;
   margin-bottom: 4.6rem;
   }

   .slogan{
      font-family:$body-font;
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 160%;
      color: $c-primary;
      padding: 1.5rem 3rem;
      background: $c-secondary;
      border-radius: 5px;

      &:hover{
         background-color: $c-primary;
         color:$c-text2;
         border: 2px solid $c-secondary;  
      }   

      
   }