section.fifth 
   div.container
      div.pic
         div 
            h2.gallery About hotel gallery
            p.subtitle While some of these examples are real – actually offering guests a stay in the locations advertised – it’s mainly just a way.
            a(href="#").slogan View more
         div.lux-img 
            img(src="./assets/imgs/lux.jpg", alt="img")
            div.background
               img(src="./assets/imgs/lux-room.jpg", alt="img").item_lux
               h3.text-foto Lux: Room
               h3.text-night $60 night
               a(href="#").item__link Book now
      div.pic 
         div.lux-img 
            img(src="./assets/imgs/mini-room.jpg", alt="img")
            div.background
               img(src="./assets/imgs/mini.jpg", alt="img").item_lux
               h3.text-foto Mini Room
               h3.text-night $70 night
               a(href="#").item__link Book now 
         div.lux-img 
            img(src="./assets/imgs/stande.jpg", alt="img")
            div.background
               img(src="./assets/imgs/stande-room.jpg", alt="img").item_lux
               h3.text-foto Stande Room
               h3.text-night $65 night
               a(href="#").item__link Book now
         div.lux-img 
            img(src="./assets/imgs/single.jpg", alt="img")
            div.background
               img(src="./assets/imgs/single-room.jpg", alt="img").item_lux
               h3.text-foto Single Room
               h3.text-night $55 night
               a(href="#").item__link Book now
         div.lux-img 
            img(src="./assets/imgs/elite.jpg", alt="img")
            div.background
               img(src="./assets/imgs/elite-room.jpg", alt="img").item_lux
               h3.text-foto Elite Room
               h3.text-night $65 night
               a(href="#").item__link Book now                    