section.first-section
   div.container
      p.current Serenity
      h1.selection-title Stay with us feel like 
         span.color-text home
      p.section-text Pet-friendly hotels are becoming increasingly popular; appealing to travellers who can’t bear to be parted
      a(href="#").inner Read more