footer.footer
   div.container
      div.footer__box
         div
            img(src="./assets/imgs/rayl.png", alt="img")
            p.travel Travel deals on hotels, flights, vacation packages. 
            p.email__com @shovasatkhira88.com
            div.social__network
               a(href="#")  
                  img(src="./assets/imgs/facebook.svg", alt="img")
                  img(src="./assets/imgs/insta.svg", alt="img")
                  img(src="./assets/imgs/twitter.svg", alt="img")
                  img(src="./assets/imgs/google.svg", alt="img")
         div.footer__list          
            a(href="#").home Home  
            a(href="#").footer__link Accessibility
            a(href="#").footer__link Lertifiotion
            a(href="#").footer__link Knowledge
         div.footer__list          
            a(href="#").home  Pages  
            a(href="#").footer__link Blogs
            a(href="#").footer__link Careers
            a(href="#").footer__link Communing
         div.footer__list
            a(href="#").enter SUBSCRIBE  
