header.header 
    div.container
        div.header-row
            a(href="index.html").logo 
                img(src="./assets/imgs/logo.png", alt="logo")
            a(href="#").nav-list Home
            a(href="#").nav-item Features
            a(href="#").nav-item Gallary
            a(href="#").nav-item Testimonials
            a(href="#").search Book now
             

