section.second-section
   div.container
      div.holiday-box
         div.holiday-item
            p.holiday-item-text Cheek in
            p.holiday-item-date 10 Feb 2021
         div.holiday-item
            p.holiday-item-text Cheek out
            p.holiday-item-date 13 Feb 2021
         div.holiday-item
            p.holiday-item-text Person
            p.holiday-item-date 2 Adults 1 kid
         a(href="#").button Find room    