section.third-section
   div.container
      div.holidays-imgs
         div
            img(src="./assets/imgs/holidays.jpg", alt="img").holidays-img
            img(src="./assets/imgs/holidays.png", alt="img").holidays-secondary
            img(src="./assets/imgs/holidays-ripples.png", alt="img").img-ripples
         div.holidays-container 
            h1.text-holidays dream holidays
            p.holidays-title Enjoy unforgettable experiences in dream hotels.
            a(href="#").slogan View more 