// переменные 
//GRID
//точки адаптива
$lg: 1310px;
$md: 1024px;
$sm: 768px;
$xs: 576px;


//Цвета макета
$c-primary: #FFFFFF;//основной цвет макета
$c-secondary: #1B75BB;//дополнительный цвет макета
$c-text: #081F32;//основной цвет текста макета
$c-text2: #1B75BB;//дополнительный цвет текста макета


// Рандомные переменные проекта


// Размер шрифта
$font-size-base: 10px;


// Шрифты
$body-font: 'Roboto', sans-serif;//основной
$headers-font: 'Gelasio', sans-serif;//для заголовков
$secondary-font: 'Poppins', sans-serif;//дополнительный
